@font-face {
    font-family: 'harmonyos_sansblack';
    src: url('harmonyos_sans_black-webfont.woff2') format('woff2'),
         url('harmonyos_sans_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
