@font-face {
    font-family: 'fonts/harmonyos_sansblack';
    src: url('fonts/harmonyos_sans_black-webfont.woff2') format('woff2'),
         url('fonts/harmonyos_sans_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
