/* navbar */
*{
  text-decoration: none;
}
/* 当页面宽度小于770px（一般是手机浏览器的时候）不显示粒子 */
@media screen and (max-width:770px){
#cas{
  visibility: hidden;
}
}
#navbar_main{
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #dbdbdb;
}
#nav_content{
  font-family: Raleway,Source Sans Pro;
  font-weight: 900;
}
/* general */
#body{
  background-color: #f1f1f1;
}
.container-fluid{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5em;
}
#cas{
  position: absolute;
}
/* 顶部左边的profile */
.left_profile_content{
  padding-bottom: 0.5em;
}
.the_title{
  font-family: Raleway,Source Sans Pro;
  font-weight: 900;
  font-size: 2em;
  letter-spacing: 0.300em;
  color: #2e2d2d;
}
#my_description{
  font-family: Raleway,Source Sans Pro;
  font-weight: 350;
  font-size: 0.9em;
  color: #8a8a8a;
  line-height: 0.5em;
}
.profile_icon{
  width: 0.9em;
  position: relative;
  top: -0.1em;
}
/* 固定背景图 */
#figure_background{
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0;
}
#fixed{
  background-image: url('../assets/img/background_fixed.png');
  height: 20em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
/*  */
#figure_background:before {
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../assets/img/background_fixed.png) center 0 no-repeat;
  background-size: cover;
}
