/* 融球效果原地址：https://codepen.io/JanneLeppanen/pen/GyXydp */
.metaballs {
  color: white;
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: contrast(40);
}

#main_page_title {
  position: relative;
  color: #333;
  z-index: 100;
  font-size: 7rem;
  display: inline-block;
  filter: blur(4px);
  font-weight: bold;
}

.metaball {
  position: absolute;
  background: black;
  border-radius: 100%;
  filter: blur(15px);
}

.metaball--big {
  width: 30vw;
  height: 30vw;
  top: -5vw;
  left: -5vw;
}

.metaball--small {
  width: 6rem;
  height: 6rem;
}

.metaball-2 {
  width: 7rem;
  height: 7rem;
  animation: move 8s infinite ease-in-out;
  top: 1rem;
}

.metaball-3 {
  width: 5rem;
  height: 5rem;
  animation: move 7s infinite ease-in-out;
  top: 4rem;
}

.metaball-4 {
  width: 6rem;
  height: 6rem;
  animation: move 16s infinite ease-in-out;
  top: 7rem;
}

.metaball-5 {
  width: 4rem;
  height: 4rem;
  animation: move 11s infinite ease-in-out;
  top: 10rem;
}

.metaball-6 {
  width: 8rem;
  height: 8rem;
  animation: move 6s infinite ease-in-out;
  top: 16rem;
}

@keyframes move {
  0% {
    left: 0;
  }
  50% {
    left: 50vw;
  }
  100% {
    left: 0vw;
  }
}
