/* 融球效果原地址：https://codepen.io/JanneLeppanen/pen/GyXydp */
.metaballs {
  color: white;
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: contrast(40);
}

.main_page_title {
  font-family: Raleway,Source Sans Pro;
  font-weight: 900;
  font-size: 5em;
  padding-left: 6%;
  padding-right: 6%
}

.main_page_div {
  z-index: 120;
/* 如果需要一个元素不参与底层元素的按此排序，那么就把他的z-index提高一点，这样就会开启一个新的排序 */
  position: relative;
  text-align: center;
  top: 40vh;
}

#main_page_proverbs{
  font-family: Raleway,Source Sans Pro;
  font-weight: 350;
}
.btn_font {
  font-family: Raleway,Source Sans Pro;
  font-weight: 900;
}

.metaball {
  position: absolute;
  background-color:#2d2d2d;
  border-radius: 100%;
  filter: blur(15px);
}

.metaball--big {
  width: 30vw;
  height: 30vw;
  top: -5vw;
  left: -5vw;
}

.metaball--small {
  width: 6rem;
  height: 6rem;
}

.metaball-2 {
  width: 7rem;
  height: 7rem;
  animation: move 8s infinite ease-in-out;
  top: 1rem;
}

.metaball-3 {
  width: 5rem;
  height: 5rem;
  animation: move 7s infinite ease-in-out;
  top: 4rem;
}

.metaball-4 {
  width: 6rem;
  height: 6rem;
  animation: move 16s infinite ease-in-out;
  top: 7rem;
}

.metaball-5 {
  width: 4rem;
  height: 4rem;
  animation: move 11s infinite ease-in-out;
  top: 10rem;
}

.metaball-6 {
  width: 8rem;
  height: 8rem;
  animation: move 6s infinite ease-in-out;
  top: 16rem;
}

@keyframes move {
  0% {
    left: 0;
  }
  50% {
    left: 50vw;
  }
  100% {
    left: 0vw;
  }
}
