.title{
  color: #363636;
  font-family:'HMS';
  font-size: 48px;
  line-height: 270%;
  margin-left: 2%;
}
#toppic{
  width: 50%;
  position: absolute;
  top: -15%;
  right: 3%;
  bottom: 20%;
}
#bgroundedrectangle{
  background-color: #fafafa;
  border-radius: 78px 78px 0px 0px;
  height: 680px;
  width: 100%;
  position: relative;
}
/* flex布局的样式来源于CSDN：https://blog.csdn.net/webEvelement/article/details/82850370*/
.allpuzzle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}
.singlepuzzle {
  box-sizing: border-box;
  flex: 0 0 25%;
  height: 50px;
  /* border: 1px solid red; */
}
.puzzlequestionpic{
  width: 80%;
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 39px;
}
/* 渐变色动画Button教程：https://www.jianshu.com/p/b2357614951f */
.type2answer1{
  font-family:'HMS';
  background-color: #ffefd6;
  cursor: pointer;
  border-radius: 53px;
  border: 0;
  width: 80%;
  height: 120%;
  margin-left: 10%;
  margin-top: 8%;
  color: rgba(92,87,87,0.58);
  font-size: 158%;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}
.type2answer1:hover{
  transform: scale(1.05);
}
.type2answer2{
  font-family:'HMS';
  background-color: #F2E4FE;
  cursor: pointer;
  border-radius: 53px;
  border: 0;
  width: 80%;
  height: 120%;
  margin-left: 10%;
  margin-top: 8%;
  color: rgba(92,87,87,0.58);
  font-size: 158%;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}
.type2answer2:hover{
  transform: scale(1.05);
}
.type2answer3{
  font-family:'HMS';
  background-color: #CDFAFF;
  cursor: pointer;
  border-radius: 53px;
  border: 0;
  width: 80%;
  height: 120%;
  margin-left: 10%;
  margin-top: 8%;
  color: rgba(92,87,87,0.58);
  font-size: 158%;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}
.type2answer3:hover{
  transform: scale(1.05);
}
.type2answer4{
  font-family:'HMS';
  background-color: #FFE3EF;
  cursor: pointer;
  border-radius: 53px;
  border: 0;
  width: 80%;
  height: 120%;
  margin-left: 10%;
  margin-top: 8%;
  color: rgba(92,87,87,0.58);
  font-size: 158%;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}
.type2answer4:hover{
  transform: scale(1.05);
}
.type2reveal{
  font-family:'HMS';
  background-image:linear-gradient(135deg, #BCBCFF,#8E8DFF);
  box-shadow: 0px 14px 48px rgba(166, 166, 255, 0.37);
  border-radius: 53px;
  border: 0;
  width: 80%;
  height: 120%;
  margin-left: 10%;
  margin-top: 8%;
  color: rgba(255, 255, 255, 1);
  font-size: 158%;
  text-shadow: 0px 4px 11px rgba(139, 138, 234, 1);
  letter-spacing: 1px;
  cursor: pointer;
  background-size: 200%;
  transition: 0.3s;
}
.type2reveal:hover{
  box-shadow: 0 10px 20px 0 rgba(47,55,213,0.2);
  background-position: right;
  transform: scale(1.05);
}
